@rcc-width: 36px;
@rcc-height: 36px;
.rcc-calendar {
  background-color: #173D37;
  display: inline-block;
  &-th {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-cell {
    color: #ffebc8;
    text-align: center;
    padding: 0;
    cursor: pointer;
  }
  &-date, &-month, &-year {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-date:not(&-date-disabled),
  &-month:not(&-month-disabled),
  &-year:not(&-year-disabled) {
    &:hover {
      background-color: #0d7b7b;
      margin: 0 auto;
    }
  }
  &-date-today {
    border: 1px solid #0d7b7b;
    color: #000;
    background-color: #f38b1e;
  }
  &-date-next, &-date-front {
    color: #000000;
  }
  &-date-selected {
    background-color: #0d7b7b;
    color: #ffebc8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-date-disabled {
    background-color: #8F9598;
    border-radius: 0;
    &:hover {
      cursor: not-allowed;
    }
  }
  &-header {
    height: @rcc-height;
    border-bottom: 1px solid #0d7b7b;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    &-center {
      &:extend(.flex-center);
      flex: 1;
      &-year, &-month {
        color: #FFECC6;
        cursor: pointer;
        &:hover {
          color: #0d7b7b;
        }
      }
      &-month {
        margin-left: 5px;
      }
      &-group {
        color: #ffebc8;
        cursor: default;
      }
    }
    &-left, &-right {
      &:extend(.flex-center);
      width: 40px;
    }
  }

  &-button {
    &:extend(.flex-center);
    width: 20px;
    height: 100%;
    cursor: pointer;
    &:hover {
      .rcc-icon-right, .rcc-icon-left {
        &:before, &:after {
          color: #0d7b7b;
        }
      }
    }
  }
  &-panels {
    width: 280px;
    height: 280px;
    position: relative;
  }

  &-range-left {
    .rcc-calendar-panels {
      margin-right: 15px;
    }
  }
  &-range-right {
    .rcc-calendar-panels {
      margin-left: 15px;
    }
  }
  &-date-panel, &-month-panel, &-year-panel {
    table {
      border-spacing: 0;
      border-collapse: collapse;
      font-size: inherit;
      height: 100%;
      width: 100%;
      & > thead {
        display: table-header-group !important;
      }
      & > tbody {
        display: table-row-group !important;
      }
    }
  }
  &-date-panel {
    height: 100%;
    table {
      & > thead > tr > th {
        height: @rcc-height;
        font-weight: normal;
        color: #cccccc;
      }
    }
  }
  &-month-panel, &-year-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #173D37;
  }
}

.rcc-calendar-wrapper {
  display: inline-block;
  position: relative;
  overflow: visible;
}

.rcc-calendar-input {
  &:extend(.flex-center);
  display: inline-flex;
  background-color: #0e1a18;
  border: 1px solid #233431;
  border-radius: 2px;
  input {
    display: inline-block;
    outline: none;
    padding: 4px 7px;
    cursor: text;
    background-color: transparent;
    border: 0;
    line-height: 1.5;
    color: #fff3dd;
  }
}

.rcc-calendar-input-range {
  background-color: #0e1a18;
  color: #fff3dd;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .rcc-calendar-input {
    border: none;
  }
}

.rcc-calendar-range {
  background-color: #173D37;
  display: inline-block;
  &-select {
    border-bottom: 1px solid #0d7b7b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > .rcc-calendar-input-range {
      background-color: transparent;
      border: none;
      & > .rcc-calendar-input {
        background-color: transparent;
        border: none;
      }
    }
  }
  &-content {
    &:extend(.flex-center);
  }
}

.stickCenterV() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.stickCenterV {
  .stickCenterV();
}

.rcc-calendar-icon {
  display: inline-block;
}

.rcc-icon-right {
  width: 6px;
  height: 10px;
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: '';
    width: 5px;
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: auto 0;
    right: 2px;
    color: #FFECC6;
    box-shadow: inset 0 0 0 16px;
    transform-origin: right;
  }
  &:before {
    top: 0;
    transform: rotate(45deg);
  }
  &:after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.rcc-icon-left {
  &:extend(.rcc-icon-right all);
  transform: rotate(180deg);
}

.rcc-icon-calendar {
  width: 16px;
  height: 14px;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-radius: 2px;
  position: relative;
  border-color: #fff3dd;
  margin-top: 3px;
  margin-right: 4px;
  &:before, &:after {
    content: '';
    position: absolute;
    color: #ffebc8;
  }
  &:before {
    width: 2px;
    height: 2px;
    top: 3px;
    left: 3px;
    box-shadow: inset 0 0 0 16px, 3px 0, 6px 0, 9px 0,
    0 3px, 3px 3px, 6px 3px, 9px 3px,
    0 6px, 3px 6px, 6px 6px, 9px 6px;
  }
  &:after {
    width: 2px;
    height: 4px;
    box-shadow: inset 0 0 0 16px, 8px 0;
    border-radius: 2px;
    top: -1*6px;
    left: 3px;
  }
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rcc-calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
}

.rcc-calendar-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
}
